@charset "UTF-8";
html{
  height: 100%;
}
body{
  /*--テキスト関係--*/
  margin:0px;
  padding: 0px;
    text-align: center;
    margin: 0px;
    font-family: "Shippori Mincho B1", serif;
    color: #ffffff;
    overflow-x: hidden;
    background-color: #000000;
    background-image: url(image/BOATBY.png),url(image/OCEAN.png);
    background-size: cover;
    height:100%;



    #main_intro{
    /*--background関係--*/
    /*ここ空だからエラー出るけどまあしゃあないねbyMoku*/
    };

    #si{ /*画像が20px下にズレるなら-20px下に動かせばいいんですよね*/
      padding-top:0px;
      margin-top:-20px;
    }

    .sidebar { /*sidebar.htmlで読み込まれてます*/
      background-color: #895aa150;
      margin-top:0px;
      width:200px;
      height: 100%;
      text-align:left;
    } 

    .sidebarmoji{ /*サイドバーの画像以外の部分にpaddingを設定*/
      padding:10px;
    }

    .main {
      
      width:100%;
      height:100%;
      text-align:center;
      padding-left:50px;
      padding-right:50px;

      margin-left:0px;  /*サイドバーとメインコンテンツの間の隙間*/





    }

    article{
      display: flex;
      height: 100%;
    }

    .title{
      font-size:xx-large;
    }

    li{
      display: inline-block;
      list-style: none;
    };

    li:not(.list1){
        margin-left: 20px;
      };

    li{
        display: inline-block;
    };

    #snsicon{
        width: 60px;
        height: 60px;
    };

    #hr_anim{
      display: block;
      position: relative;
      width: 100%;
    };

    #hr_anim::after{
      content: "";
      display: block;
      height: 1px;
      width: 0;
      transform: translateX(-50%);
      transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
      position: absolute;
      bottom: 0;
      left: 50%;
    };

    .side_img{
      display: inline-block;
      width: 522px;
      height: 353px;
    };

    #side_img_profile{
        width: 256px;
        height: 256px;
        display: inline-block;
    };

    .side_text{
        display: inline-block;
        text-align: left;
        margin-left: 30px;
        vertical-align: top;
    };

    footer{
      background-color: #00000060;
      margin: 0px;
      padding: 0px;
    };

    .fune1{ /*サイドバーの画像*/
      width: 100%;
    }

    #sidebarlink{ /*サイドバーのリンク*/
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
    }
    #sidebarlink:hover{/*サイドバーのリンク　ホバー時*/
      color: #d6abff;
     }
    #sidebarlink:active{/*サイドバーのリンク　クリック時*/
     color: #d6abff;
      font-size:90%;
    }

    .iei{
      padding-top:10px;
      margin-bottom: 10px
    }

    .sanka{
      margin-top:2px;
    }

    .sidebarimage:hover{
      filter:brightness(1.5);
    }
};